/*@import '../css/Components/file.css';*/

/*******************************************************/

*{ padding: 0;  margin: 0; border: 0;}
*, *:before *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active{ outline: none}
a:focus, a:active{ outline: none}
nav, footer, header, aside {display: block;}
html, body{ height: 100%; width: 100%; font-size: 100%; line-height: 1;font-size: 14px; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{ font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*******************************************************/

body{height: 100%;}
.wrapper{min-height: 100%; display: flex; flex-direction: column;}
header{width: 100%; height: 50px; }
main{flex: 1 1 auto;}
footer{width: 100%; height: 50px;}

/*******************************************************/

[class*="__container"]{
    max-width: 0; 
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

/*******************************************************/

header{
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #f1f1f1;
}

footer{
    background-color: #212121;
}
footer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
}

header div{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div nav{
    display: flex;
    gap: 25px;
}



.main-section{  
    padding: 15px;
    margin: 0 auto;

    max-width: 1200px;
    color: #212121;


}
.main-section a{  
    
    color: #1ace35;
    background-color: #212121;
    padding: 10px 5px;
}

.image{
    margin: 0 auto;
    max-width: 500px;

}

.image img{
    width: 100%;
    height: 100%;
}

.other-text{
    max-width: 500px;

}

.mmmmm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 20px;
    
}